{% include themes/brieu/header.html %}
<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->

				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="index.html">British Research in Europe</a></h1>
							<p>The stories of why the European Union matters to British research</p>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon fa-home" href="index.html"><span>Mission</span></a></li>
									<li><a class="icon fa-flask" href="research.html"><span>Research</span></a></li>
									<li><a class="icon fa-users" href="faculty.html"><span>Faculty</span></a></li>
									<li><a class="icon fa-user-plus" href="apply.html"><span>Add your profile</span></a></li>
									<li><a class="icon fa-question" href="../../frequently-posed-questions.html"><span>Frequently Posed Questions</span></a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Banner -->
				<div id="banner-wrapper">
					<div class="inner">
						<section id="banner" class="container">
							<!-- <p>Use this space for <strong>profound thoughts</strong>.<br />
							Or an enormous ad. Whatever.</p> -->
						</section>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Content -->
								<div id="content" class="8u 12u(mobile)">

									<!-- Post -->
										<article class="box post">
											{{ content }}
										</article>

								</div>

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">

									<!-- Excerpts -->
										<section>
											<ul class="divided">
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3 style="margin-bottom: 0px;"><a href="#"> {% assign author = site.faculty | where: "name", "Cameron Neylon" | first %} {{ author.name }}</a></h3>
																<p style="padding: 0px; margin: 0px; color: #999;">Featured Faculty</p>
															</header>
								              {% if author.image %}
									              <div id="avatar" style="float: left; padding: 10px 20px 0px 0px; ">
									                <a href="{{ author.url }} " style="max-width: 150px;" class="image"><img src="{{ author.image }}" alt="{{ author.name }}" /></a>
									              </div>
								              {% endif %}
															{{ author.content | strip_html | truncatewords: 100 }}
														</article>

												</li>
												<li>

													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3 style="margin-bottom: 0px;"><a href="#"> {% assign author = site.faculty | where: "name", "Rupert Gatti" | first %} {{ author.name }}</a></h3>
																<p style="padding: 0px; margin: 0px; color: #999;">Featured Faculty</p>
															</header>
								              {% if author.image %}
									              <div id="avatar" style="float: left; padding: 10px 20px 0px 0px; ">
									                <a href="{{ author.url }} " style="max-width: 150px;" class="image"><img src="{{ author.image }}" alt="{{ author.name }}" /></a>
									              </div>
								              {% endif %}
															{{ author.content | strip_html | truncatewords: 100 }}
														</article>

												</li>

											</ul>
										</section>

								</div>

						</div>
					</div>
				</div>

			<!-- Footer -->
			{% include themes/brieu/footer.html %}

		</div>

		<!-- Scripts -->
			<script src="{{ BASE_PATH }}/assets/js/jquery.min.js"></script>
			<script src="{{ BASE_PATH }}/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ BASE_PATH }}/assets/js/skel.min.js"></script>
			<script src="{{ BASE_PATH }}/assets/js/skel-viewport.min.js"></script>
			<script src="{{ BASE_PATH }}/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="{{ BASE_PATH }}/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ BASE_PATH }}/assets/js/main.js"></script>

	</body>
</html>