{% include themes/brieu/header.html %}
  <body class="homepage">
    <div id="page-wrapper">

      <!-- Header -->

        <div id="header-wrapper">
          <div id="header" class="container">

            <!-- Logo -->
              <h1 id="logo"><a href="{{ BASE_URL }}/index.html">British Research in Europe</a></h1>
              <p>The stories of why the European Union matters to British research</p>

            <!-- Nav -->
              <nav id="nav">
                <ul>
                  <li><a class="icon fa-home" href="../../index.html"><span>Mission</span></a></li>
                  <li><a class="icon fa-flask" href="../../research.html"><span>Research</span></a></li>
                  <li><a class="icon fa-users" href="../../faculty.html"><span>Faculty</span></a></li>
                  <li><a class="icon fa-user-plus" href="../../apply.html"><span>Apply</span></a></li>
                  <li><a class="icon fa-question" href="../../frequently-posed-questions.html"><span>Frequently Posed Questions</span></a></li>
                </ul>
              </nav>

          </div>
        </div>

        <!-- Main -->
        <div id="main-wrapper">
          <div id="main" class="container">

              {% if page.image %}
              <div id="avatar" style="float: left; padding: 15px 20px 0px 0px; ">
                <a href="{{ page.url }} " style="max-width: 200px;" class="image"><img src="{{ page.image }}" alt="{{ page.name }}" /></a>
              </div>
              {% endif %}

            <div id="content" class="faculty-content" style="">

                    <article class="box post">
                      <header>
                        <h2><a href="#">{{ page.title }} {{ page.name }}</a></h2>
                      </header>
                      <h3>{{ page.department}}, {{ page.school}}</h3>
                      {% if page.tagline %}<h3>{{page.tagline}}</h3>{% endif %}

                      {{ content }}

                    </article>

            </div>
          </div>
        </div>

      <!-- Main -->
        <div id="main-wrapper">
          <div id="main" class="container">
            <div class="row">

              <!-- Content -->
                <div id="content" class="8u 12u(mobile)">



                </div>
            </div>
          </div>
        </div>

        {% include themes/brieu/footer.html %}

    </div>

    <!-- Scripts -->
      <script src="{{ BASE_PATH }}/assets/js/jquery.min.js"></script>
      <script src="{{ BASE_PATH }}/assets/js/jquery.dropotron.min.js"></script>
      <script src="{{ BASE_PATH }}/assets/js/skel.min.js"></script>
      <script src="{{ BASE_PATH }}/assets/js/skel-viewport.min.js"></script>
      <script src="{{ BASE_PATH }}/assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="{{ BASE_PATH }}/assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="{{ BASE_PATH }}/assets/js/main.js"></script>

  </body>
</html>