        <div id="footer-wrapper">
          <div id="footer" class="container">
            <div class="row">
              <div class="6u 12u(mobile)">
                <section>
                  <p>Get in touch</p>
                  <div class="row">
                    <div class="6u 12u(mobile)">
                      <ul class="icons">
                        <li class="icon fa-envelope">
                          <a href="mailto:admin@british-research-in.eu">admin@british-research-in.eu</a>
                        </li>
                      </ul>
                    </div>
                    <div class="6u 12u(mobile)">
                      <ul class="icons">
                        <li class="icon fa-twitter">
                          <a href="https://twitter.com/ukresearchineu">@ukresearchineu</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div id="copyright" class="container">
            <ul class="links">
              <li>&copy; british-research-in.eu. All rights reserved.</li>
            </ul>
          </div>
        </div>