<!DOCTYPE HTML>
<html lang="en">
  <head>
    {% if page.layout == "faculty" %}
    <title>{{ site.title }} - {{page.title}} {{ page.name }}</title>
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https:"> -->
    <meta property="og:title" content="{{ site.title }} - {{page.title}} {{ page.name }}" />
    <meta name="twitter:title" content="{{ site.title }} - {{page.title}} {{ page.name }}">{% elsif page.title and page.layout != "default" %}
    <title>{{ site.title }} - {{ page.title }}</title>
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https:"> -->
    <meta property="og:title" content="{{ site.title }} - {{page.title}}" />
    <meta name="twitter:title" content="{{ site.title }} - {{page.title}}">{% else %}
    <title>British Research in the EU</title>
    <meta property="og:title" content="{{ site.title }}" />
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />{% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}" />
    <meta name="twitter:description" content="{{ page.description }}">{% elsif page.title and page.author %}
    <meta name="description" content="A new post by {{ page.author }} is totally {{ site.title }}">
    <meta property="og:description" content="{{ page.author }} is totally {{ site.title }}">
    <meta name="twitter:description" content="{{ page.author }} is totally {{ site.title }}">{% else %}
    <meta property="og:description" content="{{ site.tagline }}">
    <meta name="twitter:description" content="{{ site.tagline }}">
    <meta name="description" content="{{ site.tagline }}">{% endif %}
    {% if page.author %}
    <meta name="author" content="{{ page.author }}">
    <meta name="copyright" content="&copy; {{ page.author }} 2016">{% else %}
    <meta name="copyright" content="&copy; {{ site.author.name }} 2016">
    <meta name="author" content="{{ site.author.name }}">{% endif %}

    <meta property="og:url" content="https://british-research-in.eu{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:type" content="website" />{% if page.image %}
    <meta property="og:image" content="{{ page.image }}" />{% else %}
    <meta property="og:image:width" content="997" />
    <meta property="og:image:height" content="314" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image" content="{{ BASE_PATH}}/assets/images/banner.png" />{% endif %}

    <!-- Twitter: card tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ site.author.twitter }}" />{% if page.image %}
    <meta name="twitter:image" content="{{ page.image }}">{% else %}
    <meta name="twitter:image" content="{{ BASE_PATH}}/assets/images/banner.png">{% endif %}

    <!-- Open Source Protocol -->
    <link rel="profile" href="http://osprotocol.com" />
    <meta property="os:repo" content="{{ site.github }}" />
    <meta property="os:rcs_type" content="git" />
    <meta property="os:src" content="{{ site.git_remote }}" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if lte IE 8]><script src="{{ BASE_PATH }}/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{BASE_PATH}}/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/ie8.css" /><![endif]-->

    <link rel="shortcut icon" href="{{ BASE_PATH }}/favicon.png">
  </head>